<h1><%= @user.new_record? ? "Add Admin" : "Edit Profile" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% button = @user.new_record? ? "Add" : "Update" %>
      <%= form_for(@user, url: @user.new_record? ? superadmin_users_path : superadmin_user_path ) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :age %>
      <%= f.text_field :age, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :country %>
      <%= f.select :country, %w{India USA Canada}, {:prompt => 'Select'}, required: true, placeholder: 'Country', class: 'form-control' %>
    </div>

    <!-- <div class="form-group">
      <%#= f.label :organization %>
        <%# Organization.all.each do |d| %>
      <%#= f.select :organization, Organization.name, { :prompt => 'Select Organization'}, class: 'form-control' %>
       <%# (:user_id, Organization.all, :id, :name, { :prompt => 'Select a State', :selected => @email.user_id }, { class: 'form-control' }) %>
<%# end %>
    </div> -->

    <div class="form-group">
      <div class="row">
        <div class="form-group">
          <div class="col-md-12 nopadding">
            <div class="col-md-2 nopadding">
              <label class="btn">
                <%= f.label :gender, 'Gender :' %>
              </label>
            </div>
            <div class="col-md-2 nopadding">
              <label class="btn">
                <%= f.radio_button :gender, 'Male', class: 'inline-block' %>
                <%= f.label :gender, 'Male' %>
              </label>
            </div>
            <div class="col-md-2 nopadding">
              <label class="btn">
                <%= f.radio_button :gender, 'Female', class: 'inline-block' %>
                <%= f.label :gender, 'Female' %>
              </label>
            </div>
            <div class="col-md-2">
              <label class="btn">
                <%= f.radio_button :gender, 'Other', class: 'inline-block' %>
                <%= f.label :gender, 'Other' %>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :department, "Department : " %>
        <% Department.all.each do |d| %>
          <div class="checkbox">
           <%# @user = User.find(@user.id)  %>
           <%= check_box_tag "user[department_ids][]", d.id, @user.department_ids.include?(d.id) %>
           <%= d.name %>
          </div>
        <% end %>
    </div>
        <!-- <div class="col-md-12 nopadding"> -->
          <!-- <div style="display:inline-block;" > -->
            <!-- <div class="col-md-2"> -->
              <!-- <label class="abc"> -->

                <!-- <label class="inline"> -->
                <!-- <label class="check-margin"> -->

             <!-- </label> -->
            <!-- </div> -->
          <!-- </div> -->
      <!-- </div> -->

      <%#= f.label :department, "Department : " %>
        <%#= f.fields_for :admin_depts do |a| %>
        <%#= puts "---------#{a.inspect}----------------" %>
          <%#= a.collection_check_boxes :department_id, Department.all, :id, :name do |d| %>
          <%#= a.collection_check_boxes :department_id, Department.all, :id, :name do |d| %>
            <!-- <div class="collection-check-box"> -->
              <%#= puts "---------#{d.inspect}----------------" %>
              <!-- <label> -->
              <%#= d.check_box %>
              <%#= d.label %>
            <!-- </label> -->
            <!-- </div> -->
          <%# end %>
        <%# end %>
    <%#= task_form.link_to_remove "Remove this task" %>
    <%#= f.label :remember_me, class: "checkbox inline" do %>
        <%#= f.check_box :remember_me %>
        <!-- <span>Remember Me</span> -->
      <%# end %>

    <div class="form-group">
      <%= f.label :"email" %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <% if @user.new_record? %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    <% end %>

    <div style="display:inline-block;">
    <%= f.submit button, class: "btn btn-primary btn-md" %></div>
    <%= link_to "Cancel", superadmin_users_path, class: "btn btn-primary btn-md" %>
    <% end %>
  </div>
</div>






.
