<h1>Profile</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
		<table id="users" class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Age</th>
          <th>Organization</th>
          <th>Department</th>
					<th>Country</th>
					<th>Gender</th>
					<th>Email</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><%= @user.name %></td>
		      <td><%= @user.age %></td>
          <td><%= @user.organization.present? ? @user.organization.name : "-" %></td>
          <td><%= @user.departments.pluck(:name).join(' ,') %></td>
		      <td><%= @user.country %></td>
		      <td><%= @user.gender %></td>
		      <td><%= @user.email %></td>
		    </tr>
		  </tbody>
		</table>
    <p align="right"><%= link_to "Back", superadmin_users_path, class: "btn btn-primary" %></p>
	</div>
</div>
