<h1>Profile</h1>
<table id="users" class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Country</th>
			<th>Gender</th>
			<th>Email</th>
    </tr>
  </thead>
	 
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.age %></td>
      <td><%= @user.country %></td>
      <td><%= @user.gender %></td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
